<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert Blog</title>
    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/css/post.css}"/>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="row">
    <div class="leftcolumn">
        <form th:action="@{/insert}" th:object="${post}" method="post">
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input type="text" th:field="*{title}" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Meta Title</label>
                <input type="text" th:field="*{metaTitle}" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Summary</label>
                <input type="text" th:field="*{summary}" class="form-control">
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">Published</label>
                <input type="checkbox" th:checked="*{published}" class="form-check-input">
            </div>
            <div class="mb-3 form-floating">
                <textarea class="form-control" th:field="*{content}" id="floatingTextarea2" style="height: 300px;"></textarea>
                <label for="floatingTextarea2">Comments</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <input type="hidden"  name="authorId" id="authorId" th:value="${session.loginUser.getId()}">
        </form>
    </div>
    <div th:replace="~{fragments/right-column :: right}"></div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>