<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="right" class="rightcolumn">
    <div class="card">
        <h2>About Me</h2>
        <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YXZhdGFyfGVufDB8fDB8fHww"/>
        <p>
            Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of
        </p>

        <h3>Popular Post</h3>
        <img src="https://business.leeds.ac.uk/images/Disrupting_Tech_shutterstock_566877226_800_x_400.jpg"
             alt="img" />
        <br>
        <img src="https://www.homecareinsight.co.uk/2020/07/connected-technology.jpg" alt="img"/>
        <br>
        <img src="https://cdn-res.keymedia.com/cms/images/us/038/0308_637823689896406541.jpg" alt="img"/>
    </div>
    <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
    </div>
</div>
</body>
</html>